# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Django database
db.sqlite3

# Static collected files (optional)
staticfiles/

# Media uploads (optional)
media/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db